.desktop-only {
  @include responsive('small') {
    display: none !important;
  }
}

.tablet-and-up-only {
  @include responsive('mobile') {
    display: none !important;;
  }
}

.mobile-only {
  @include responsive('tablet-and-up') {
    display: none !important;;
  }
}

.mobile-and-desktop-only {
  @include responsive('tablet') {
    display: none !important;;
  }
}