
:root {
  --border-radius: 0.4rem;
  --font-family: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, sans-serif;
  --p: 1.6rem;
  --padding-page: 2.4rem;
  --wrapper: 120rem;
  @media screen and (min-width: 600px) {
    --padding-page: 3.6rem;
  }

  --color-text: #171717;
  --color-accent: #0ab6ff;
}
